services:
  frontend:
    build:
      context: .
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    image: 383570952416.dkr.ecr.us-east-1.amazonaws.com/skillforge-frontend:latest
    ports:
      - "80:80"
